<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metallica X Mexico</title>

    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="javascripts/homescript.js"></script>


  </head>
  <body>  
    <div id="title">
      <h1>Metallica X Mexico</h1>
      <h2>2009</h2>
    </div>

    <div id="datesContent">
      <ol>
        <li class="concertDate"><div class="textArea" id="4">June 4</div></li>
        <li class="concertDate"><div class="textArea" id="6">June 6</div></li>
        <li class="concertDate"><div class="textArea" id="7">June 7</div></li>
      </ol>
    </div>

  </body>
</html>